@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

body {
  width: 100%;
  height: 100vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0d0102), color-stop(#110203), color-stop(#150204), color-stop(#180304), color-stop(#1b0405), color-stop(#200506), color-stop(#240606), color-stop(#280706), color-stop(#2f0706), color-stop(#360605), color-stop(#3d0404), to(#440202));
  background-image: linear-gradient(to left bottom, #0d0102, #110203, #150204, #180304, #1b0405, #200506, #240606, #280706, #2f0706, #360605, #3d0404, #440202);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.paiDaInterface {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  opacity: 0;
  -webkit-transform: translateY(-500px);
          transform: translateY(-500px);
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.interface {
  width: 27%;
  height: 90vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr;
  -ms-grid-rows: 1fr 1fr 1fr 1fr 1fr;
      grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
  gap: 0px 0px;
      grid-template-areas: "imgDaMusicaBox imgDaMusicaBox imgDaMusicaBox" "imgDaMusicaBox imgDaMusicaBox imgDaMusicaBox" "info info info" "controllers controllers controllers" "musicTimerBox musicTimerBox musicTimerBox";
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0d0102), color-stop(#110203), color-stop(#150204), color-stop(#180304), color-stop(#1b0405), color-stop(#1c0405), color-stop(#1c0505), color-stop(#1d0505), color-stop(#1b0505), color-stop(#190404), color-stop(#170404), to(#140303));
  background-image: linear-gradient(to left bottom, #0d0102, #110203, #150204, #180304, #1b0405, #1c0405, #1c0505, #1d0505, #1b0505, #190404, #170404, #140303);
  position: relative;
}

.imgDaMusicaBox {
  width: 100%;
  height: 100%;
  -ms-grid-row: 1;
  -ms-grid-row-span: 2;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: imgDaMusicaBox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgDaMusicaBox img {
  max-width: 300px;
  max-height: 85%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.info {
  width: 100%;
  height: 100%;
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: info;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.info p {
  font-weight: 500;
  color: #da1c1c;
  text-transform: uppercase;
}

.info h3 {
  color: white;
  font-weight: 600;
}

.controllers {
  width: 100%;
  height: 100%;
  padding: 0 5px;
  -ms-grid-row: 4;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: controllers;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.controllers img {
  border: none;
  border-bottom: 0.5px solid transparent;
  border-top: 0.5px solid transparent;
  border-radius: 30%;
  padding: 5px;
  cursor: pointer;
  -webkit-transition: all 0.4s ease;
  transition: all 0.4s ease;
}

.controllers img:hover {
  background-image: linear-gradient(315deg, #3b0a0f 0%, #200206 74%);
  border-bottom: 0.5px solid #8b0000;
  border-top: 0.5px solid #8b0000;
  -webkit-transform: scale(1.1, 1.1);
          transform: scale(1.1, 1.1);
}

.controllers #repeat,
.controllers #volume {
  max-width: 24px;
}

#play {
  display: block;
  width: 60x;
  height: 60px;
  padding: 5px;
  background-color: #3f0d12;
  background-image: linear-gradient(315deg, #580c13 0%, #240609 74%);
  border-radius: 50%;
  -webkit-transition: 0.3s all ease-in;
  transition: 0.3s all ease-in;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  border: 0.5px solid transparent;
}

#play:hover {
  border: 0.5px solid #8d0a17;
}

.musicTimerBox {
  width: 100%;
  height: 100%;
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: musicTimerBox;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: relative;
}

.musicTimerBox .times {
  width: 100%;
  height: 30px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  color: #909090;
  font-size: 0.8rem;
}

.musicTimerBox .times p {
  margin: 0 40px;
}

.musicTimerBox input[type="range"] {
  width: 80%;
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-appearance: none;
  overflow: hidden;
}

.musicTimerBox input[type="range"]:focus {
  outline: none;
}

.musicTimerBox input[type="range"]::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #3b0a0f;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

.musicTimerBox input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  margin-top: -5.5px;
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-box-shadow: -140px 0 0 140px #8d0a17;
          box-shadow: -140px 0 0 140px #8d0a17;
}

#volumeRange {
  width: 50px;
  position: absolute;
  bottom: 36.5%;
  right: 6%;
  -webkit-transition: all linear 0.5s;
  transition: all linear 0.5s;
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  background-color: rgba(255, 255, 255, 0.3);
  -webkit-appearance: none;
  overflow: hidden;
  outline: none;
}

#volumeRange::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  color: #3b0a0f;
  width: 100%;
  height: 2px;
  cursor: pointer;
}

#volumeRange::-webkit-slider-thumb {
  -webkit-appearance: none;
  border-radius: 50%;
  margin-top: -5.5px;
  width: 10px;
  height: 10px;
  background: #fff;
  -webkit-box-shadow: -60px 0 0 60px #8d0a17;
          box-shadow: -60px 0 0 60px #8d0a17;
}

.footer {
  margin-top: 50px;
  margin-bottom: 20px;
}

.miniatura {
  width: 25%;
  height: 65vh;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0d0102), color-stop(#110203), color-stop(#150204), color-stop(#180304), color-stop(#1b0405), color-stop(#1c0405), color-stop(#1c0505), color-stop(#1d0505), color-stop(#1b0505), color-stop(#190404), color-stop(#170404), to(#140303));
  background-image: linear-gradient(to left bottom, #0d0102, #110203, #150204, #180304, #1b0405, #1c0405, #1c0505, #1d0505, #1b0505, #190404, #170404, #140303);
  overflow: scroll;
  overflow-x: hidden;
  opacity: 1;
  -webkit-transform: translateX(-300px);
          transform: translateX(-300px);
  -webkit-transition: 0.5s all ease;
  transition: 0.5s all ease;
  z-index: -1;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

::-webkit-scrollbar-thumb {
  background: -webkit-gradient(linear, left bottom, left top, from(#440202), color-stop(52%, #180304));
  background: linear-gradient(0deg, #440202 0%, #180304 52%);
  border-radius: 15px;
}

::-webkit-scrollbar-thumb:hover {
  background: linear-gradient(13deg, #180304 0%, #440202 61%);
}

::-webkit-scrollbar-track {
  background: #0d0102;
  border-radius: 15px;
  -webkit-box-shadow: inset 7px 10px 12px #0d0102;
          box-shadow: inset 7px 10px 12px #0d0102;
}

.faixa {
  width: 100%;
  height: 65px;
  padding: 5px;
  margin: 3px 3px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-direction: row;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  cursor: pointer;
  border-bottom: 1px solid #505050;
  margin-top: 1px;
}

.faixa:hover {
  background-color: rgba(42, 7, 7, 0.65);
}

.imgFaixaBox {
  width: 30%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.imgFaixaBox img {
  width: 90%;
  height: 80%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infoMusic {
  width: 70%;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.nome,
.titulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 50%;
  color: white;
  font-size: 0.67rem;
}

.nome p {
  font-weight: 400;
  color: #da1c1c;
  text-transform: uppercase;
}

.titulo h3 {
  color: white;
  font-weight: 500;
}

.addMusicsBox {
  opacity: 1;
  padding: 25px;
  -webkit-transform: translateX(300px);
          transform: translateX(300px);
  -webkit-transition: 0.3s ease;
  transition: 0.3s ease;
  width: 25%;
  height: 65vh;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
  background-image: -webkit-gradient(linear, right top, left bottom, from(#0d0102), color-stop(#110203), color-stop(#150204), color-stop(#180304), color-stop(#1b0405), color-stop(#1c0405), color-stop(#1c0505), color-stop(#1d0505), color-stop(#1b0505), color-stop(#190404), color-stop(#170404), to(#140303));
  background-image: linear-gradient(to left bottom, #0d0102, #110203, #150204, #180304, #1b0405, #1c0405, #1c0505, #1d0505, #1b0505, #190404, #170404, #140303);
}

.addMusicsBox label {
  text-align: center;
  width: 80%;
  padding: 10px;
  cursor: pointer;
  border-radius: 10px;
  border-bottom: 2px solid rgba(53, 8, 8, 0.459);
}

.addMusicsBox input[type="file"] {
  display: none;
}

.addMusicsBox input {
  text-align: center;
  background-color: transparent;
  font-size: 1rem;
  border: none;
  outline: none;
  width: 80%;
  height: 50px;
  border-bottom: 1px solid rgba(41, 6, 6, 0.267);
  color: white;
}

.addMusicsBox input::-webkit-input-placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
}

.addMusicsBox input:-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
}

.addMusicsBox input::-ms-input-placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
}

.addMusicsBox input::placeholder {
  font-size: 1rem;
  color: rgba(255, 255, 255, 0.322);
  text-align: center;
}

.addMusicsBox button {
  color: white;
  width: 150px;
  height: 50px;
  margin-top: 10px;
  border: none;
  outline: none;
  padding: 10px;
  cursor: pointer;
  background-color: transparent;
  -webkit-transition: all 0.5s ease;
  transition: all 0.5s ease;
  border-radius: 10px;
  -webkit-box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
          box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.addMusicsBox button:hover {
  background-color: #1a0303e7;
  -webkit-transform: translateY(-8px);
          transform: translateY(-8px);
}

#buttonHover {
  -webkit-transform: rotateZ(-90deg);
          transform: rotateZ(-90deg);
  position: absolute;
  left: 78%;
  top: 26.6%;
  color: #909090;
  outline: none;
  border: none;
  width: 125px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 0.8rem;
  cursor: pointer;
}

.displayOff {
  z-index: -1;
  pointer-events: all;
  opacity: 1;
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.addMusicsBoxInvalidValues {
  -webkit-animation: vibrar 0.3s ease;
          animation: vibrar 0.3s ease;
}

@-webkit-keyframes vibrar {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

@keyframes vibrar {
  0% {
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  50% {
    -webkit-transform: translateY(-30px);
            transform: translateY(-30px);
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
  }
}

.teste {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
}

#addMusicButton {
  -webkit-transform: rotateZ(90deg);
          transform: rotateZ(90deg);
  position: absolute;
  right: 78.5%;
  top: 40%;
  color: #909090;
  outline: none;
  border: none;
  width: 125px;
  border-radius: 20px;
  letter-spacing: 1px;
  font-size: 0.8rem;
  cursor: pointer;
}

.wave {
  position: absolute;
}

.wave-bottom {
  bottom: 0;
}

.wave-top {
  top: 0;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=file.css.map */